.sidebar {
    height:100%;
    width:150px;
    background-color: #14dc8c;
    position:fixed!important;
    z-index:1;
    overflow:auto;
}

.bar-block .bar-item {
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    white-space:normal;
    float:none;
    outline:0;
    border: none;
}

#navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color:black;
}

#navbar a:hover {
    color:white;
    background-color: #38c28b;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h2 {
    padding-left: 20px;
}

.paragraph {
    text-indent: 15px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 25px;
}

@media screen and (max-height: 450px) {
    #navbar {padding-top: 15px;}
    #navbar a {font-size: 18px;}
}